.imgPanel{
    margin-top:50px; 
    display: flex;
    flex-wrap: wrap;

}

.imgPanel img{
    flex: 21%;
    margin: 2%;
    box-shadow: -3px 2px 10px gray;
    max-width: 21%;
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .imgPanel img{
        flex: 46%;
        max-width: 46%;
    }
}

@media screen and (max-width: 500px) {
    .imgPanel img{
        flex: 90%;
        max-width: 90%;
    }
}