<div class="game-container" ng-controller="gameController" ng-init="checkOpponent()">
    <div class="turn-container">
         <p>{{PlayerTurn}}</p>
    </div>
    <div class="curent-player-container">
        <p>{{name}}</p>
        <p>Games won: {{gameswon}}</p>
    </div>
    <div class="middle-container">
        <table class="board">
            <tr>
                <td class="box" id="00" ng-click="clickedBox($event)">{{matrixValue[0][0]}}</td>
                <td class="box" id="01" ng-click="clickedBox($event)">{{matrixValue[0][1]}}</td>
                <td class="box" id="02" ng-click="clickedBox($event)">{{matrixValue[0][2]}}</td>
            </tr>
            <tr>
                <td class="box" id="10" ng-click="clickedBox($event)">{{matrixValue[1][0]}}</td>
                <td class="box" id="11" ng-click="clickedBox($event)">{{matrixValue[1][1]}}</td>
                <td class="box" id="12" ng-click="clickedBox($event)">{{matrixValue[1][2]}}</td>
            </tr>
            <tr>
                <td class="box" id="20" ng-click="clickedBox($event)">{{matrixValue[2][0]}}</td>
                <td class="box" id="21" ng-click="clickedBox($event)">{{matrixValue[2][1]}}</td>
                <td class="box" id="22" ng-click="clickedBox($event)">{{matrixValue[2][2]}}</td>
            </tr>
        </table>



        <!-- <ul>
<li class="box" id="00" ng-click="clickedBox($event)">{{matrixValue[0][0]}}</li>
<li class="box" id="01" ng-click="clickedBox($event)">{{matrixValue[0][1]}}</li>
<li class="box" id="02" ng-click="clickedBox($event)">{{matrixValue[0][2]}}</li>
<li class="box" id="10" ng-click="clickedBox($event)">{{matrixValue[1][0]}}</li>
<li class="box" id="11" ng-click="clickedBox($event)">{{matrixValue[1][1]}}</li>
<li class="box" id="12" ng-click="clickedBox($event)">{{matrixValue[1][2]}}</li>
<li class="box" id="20" ng-click="clickedBox($event)">{{matrixValue[2][0]}}</li>
<li class="box" id="21" ng-click="clickedBox($event)">{{matrixValue[2][1]}}</li>
<li class="box" id="22" ng-click="clickedBox($event)">{{matrixValue[2][2]}}</li>
</ul> -->

    </div>
    <div class="opponent-container">
        <p>Opponent: {{opponentName}}</p>
        <p>Games won: {{opponentGameswon}}</p>
    </div>
</div>